.fansbox {
  padding: 0;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
}

.fansbox .weui-cell__hd {
  width: 1.133333rem;
  border-right: 1px solid #eeeeee;
}

.fansbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fansbox li {
  position: relative;
  padding: 0.2rem 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.fansbox li p {
  color: #949494;
  line-height: 1em;
}

.fansbox li.active:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 0.2rem;
  width: 0.026667rem;
  background-color: #f8584f;
  margin-top: -0.1rem;
  border-radius: 0.026667rem;
}

.fansbox .weui-grids:before,
.fansbox .weui-grids:after,
.fansbox .weui-grid:before,
.fansbox .weui-grid:after {
  display: none;
}

.fansbox .weui-grids img {
  width: 100%;
}

.fansbox .weui-grid {
  text-align: center;
}

.fansbox .weui-grid:active {
  background-color: rgba(0, 0, 0, 0);
}

.fansbox {
  height: 4.866667rem;
}

.fansbox .weui-cell__bd {
  padding: 0.2rem;
}

.fansbox .searchbox {
  position: relative;
  border-radius: 0.2rem;
  height: 0.4rem;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.fansbox .searchbox input {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  text-indent: 0.266667rem;
}

.fansbox .searchbox .search_icon {
  z-index: 999;
  position: absolute;
  width: 0.2rem;
  top: 0;
  bottom: 0.026667rem;
  left: 0.066667rem;
  background: url(../images/icon_search.png) no-repeat right center;
  background-size: 0.186667rem;
}

.fansbox .grid_avatar {
  position: relative;
  width: 0.626667rem;
  height: 0.626667rem;
  margin: 0 auto;
}

.fansbox .grid_avatar img {
  width: 100%;
  border-radius: 50%;
}

.fansbox .grid_text {
  margin-top: 0.133333rem;
  font-size: 0.16rem;
}

.fx-page-bd .weui-cells {
  margin-top: 0;
}

.fx-page-bd .fansbox {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fx-page-bd .fxtop {
  margin-bottom: 0.066667rem;
  text-align: center;
}

.fx-page-bd .fxbottom {
  height: 2rem;
  position: relative;
}

.fx-page-bd .weui-grid {
  padding-top: 0.066667rem;
  padding-bottom: 0.066667rem;
}

.fx-page-bd .weui-cell__hd {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.fx-page-bd .weui-cell__bd {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.rscroll {
  position: relative;
  top: 0.066667rem;
  height: 4rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}