<script type="text/x-template" id="vue-component-modal-template">
    <div class="weui-popup__container popup-bottom popup-center" ref="modal">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="modal_bg">

            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    'use strict';

    Vue.component('modal', {
        template: '#vue-component-modal-template',
        props: {

        },

        data: function() {
            return {

            };
        },
        watch: {

        },

        mounted: function () {

        },

        methods: {

        },
    });
</script>